In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

#Q1

In [6]:
def print_sencon_row(df):
    df['course_name']=df.iloc[1:2]['course_name']
    df['duration']=df.iloc[1:2]['duration']
    return df
df_new =print_sencon_row(df)
print(df_new)

        course_name  duration
0               NaN       NaN
1  Machine Learning       3.0
2               NaN       NaN
3               NaN       NaN

#Q2

In Pandas, both loc and iloc are used to access elements within a DataFrame, but they differ in how they handle the indexing.


loc: This attribute accesses a group of rows and columns by labels or a boolean array. It is label-based, which means that you have to specify rows and columns based on their labels (index and column names). It is inclusive of the last element, unlike Python's usual slicing.

iloc: This attribute accesses a group of rows and columns by integer position, meaning it is purely integer-location based. This is 0-based indexing. When using iloc, both the start and stop bounds are included, which is different from typical Python slicing where the last element is excluded.

In [12]:
df = pd.DataFrame({'A':[1,2,3,4,5],
                   'B':['a','b','c','d','e']},
                   index= ['row1' , 'row2','row3','row4','row5'])
                   
print("Dataframe:")
print(df)
print()

# Accessing rows and colomns using loc
print("Using loc:")
print(df.loc['row2','A']) #Accessing a single element 
print(df.loc['row2':'row4','A':'B']) #Accessing a slice
print()

#Accessing rows and columns using iloc
print("Using iloc:")
print(df.iloc[1,0]) #Accessing a single element
print(df.iloc[1:4, 0:2]) #Accessing a slice

Dataframe:
      A  B
row1  1  a
row2  2  b
row3  3  c
row4  4  d
row5  5  e

Using loc:
2
      A  B
row2  2  b
row3  3  c
row4  4  d

Using iloc:
2
      A  B
row2  2  b
row3  3  c
row4  4  d

#Q3

In [13]:
import pandas as pd

# Given DataFrame
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Reindexing the DataFrame
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Output for new_df.loc[2]
output_loc = new_df.loc[2]
print("Output for new_df.loc[2]:")
print(output_loc)
print()

# Output for new_df.iloc[2]
output_iloc = new_df.iloc[2]
print("Output for new_df.iloc[2]:")
print(output_iloc)

Output for new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

Output for new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [15]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

new_df.loc[2]: When using loc, Pandas treats the argument as a label. In this case, the label 2 corresponds to the index label 2 after reindexing (since we've used the reindex [3, 0, 1, 2]). Therefore, new_df.loc[2] returns the row labeled 2, which is 'Big Data' with a duration of 6.

new_df.iloc[2]: When using iloc, Pandas treats the argument as an integer position. In this case, 2 refers to the third row after reindexing (remember, iloc uses zero-based indexing). So, new_df.iloc[2] returns the row at the third position, which is 'Machine Learning' with a duration of 3.

#Q4

In [17]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [18]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.520054  0.045466  0.646998  0.185987  0.960952  0.333402
2  0.398036  0.740999  0.703313  0.507498  0.290733  0.537703
3  0.870570  0.650738  0.494213  0.930528  0.148586  0.648947
4  0.673236  0.117349  0.790681  0.336243  0.042431  0.638078
5  0.941172  0.603648  0.934343  0.458108  0.607669  0.309936
6  0.709516  0.271931  0.377456  0.508453  0.688229  0.589668

In [26]:
column_means = df1.mean()
print("Mean of each column:")
print(column_means)

Mean of each column:
column_1    0.685430
column_2    0.405022
column_3    0.657834
column_4    0.487803
column_5    0.456433
column_6    0.509622
dtype: float64

In [28]:
std_2 = df1['column_2'].std()
print("Standard deviation for 'column_2':", std_2)

Standard deviation for 'column_2': 0.2974755578088274

#Q5

If you replace the data in the second row of 'column_2' with a string variable, you'll likely encounter an error when trying to calculate the mean of 'column_2'. This is because you're trying to calculate the mean of a column that contains both numeric and non-numeric (string) values, which isn't possible.

In [30]:
df1.loc[1, 'column_2'] = 'String'

try:
    mean_column_2 = df1['column_2'].mean()
    print("Mean of 'column_2':", mean_column_2)
except Exception as e:
    print("Error:", e)

Error: can only concatenate str (not "float") to str

#Q6

In Pandas, the window functions are used for calculating statistics over a specified window of values. These functions are particularly useful for time-series data and other sequential data where you want to calculate rolling statistics, such as rolling mean, rolling sum, etc.

Window functions in Pandas are primarily implemented using the rolling() function, which creates a rolling window object, and then various statistical functions can be applied on this window object. Some common window functions include:

rolling(): This function creates a rolling window object, which can then be used to calculate rolling statistics.

mean(): Computes the rolling mean over the values in the window.

sum(): Computes the rolling sum over the values in the window.

std(): Computes the rolling standard deviation over the values in the window.

min(): Computes the rolling minimum over the values in the window.

max(): Computes the rolling maximum over the values in the window.

median(): Computes the rolling median over the values in the window.

quantile(): Computes the rolling quantile over the values in the window.

apply(): Applies a custom function to the values in the window.

corr(): Computes the rolling correlation between two time series.

cov(): Computes the rolling covariance between two time series.

agg(): Aggregates the values in the window using one or more functions.

#Q7

In [31]:
from datetime import datetime

# Get the current date and time
current_date = datetime.now()

# Extract the month and year from the current date
current_month = current_date.month
current_year = current_date.year

# Print the current month and year
print("Current month and year:", current_month, current_year)

Current month and year: 3 2024

#Q8

In [32]:

def calculate_time_difference(date1, date2):
    # Convert the input strings to datetime objects
    date1 = pd.to_datetime(date1)
    date2 = pd.to_datetime(date2)
    
    # Calculate the time difference
    time_diff = date2 - date1
    
    # Extract days, hours, and minutes from the time difference
    days = time_diff.days
    hours = time_diff.seconds // 3600
    minutes = (time_diff.seconds % 3600) // 60
    
    return days, hours, minutes

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the time difference
days, hours, minutes = calculate_time_difference(date1, date2)

# Display the result
print("Time difference:")
print(f"Days: {days}")
print(f"Hours: {hours}")
print(f"Minutes: {minutes}")

Enter the first date (YYYY-MM-DD):  2024-03-06
Enter the second date (YYYY-MM-DD):  2024-02-06

Time difference:
Days: -29
Hours: 0
Minutes: 0

#Q9

In [ ]:
import pandas as pd

def convert_to_categorical(df, column_name, category_order):
    # Convert the specified column to categorical with specified category order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    return df

# Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

# Read the CSV file
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please make sure you entered the correct file path.")
    exit()

# Convert the specified column to categorical
df = convert_to_categorical(df, column_name, category_order)

# Display the sorted data
sorted_data = df.sort_values(by=column_name)
print("Sorted data:")
print(sorted_data)

#Q10

In [8]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales_data():
    # Prompt the user to enter the file path
    file_path = input("Enter the file path for the CSV file: ")

    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Assume the CSV file has columns like 'Date', 'Product', 'Category', 'Sales'
        # You may need to adjust this based on the actual structure of your CSV file
        # For example, if the columns are 'date', 'product_name', 'category_name', 'sales_quantity', modify the code accordingly
        # df = pd.read_csv(file_path, names=['date', 'product_name', 'category_name', 'sales_quantity'], header=0)

        # Convert 'Date' column to datetime format
        df['Date'] = pd.to_datetime(df['Date'])

        # Group by 'Date' and 'Category' and sum the 'Sales' for each category
        sales_by_date_category = df.groupby(['Date', 'Category'])['Sales'].sum().unstack().fillna(0)

        # Plot stacked bar chart
        sales_by_date_category.plot(kind='bar', stacked=True, figsize=(10, 6))
        plt.xlabel('Date')
        plt.ylabel('Sales')
        plt.title('Stacked Bar Chart of Sales by Category Over Time')
        plt.legend(title='Category')
        plt.xticks(rotation=45)
        plt.tight_layout()
        plt.show()

    except FileNotFoundError:
        print("File not found. Please check the file path and try again.")
    except Exception as e:
        print(f"An error occurred: {e}")

# Call the function to visualize sales data
visualize_sales_data()

Enter the file path for the CSV file:  work/Algerian_forest_fires_cleaned_dataset.csv

File not found. Please check the file path and try again.

#Q11

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()

# Create a DataFrame to display the results
results_df = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_score.tolist()))]  # Convert mode to string for display
})

# Display the results in a formatted table
print(results_df.to_string(index=False))